header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  h1 {
    text-align: center;
    padding: 1em;
  }
  
  input[type="text"] {
    text-align: center;
    width: 40%;
    padding: 0.75em 1.25em;
    box-sizing: border-box;
    font-size: 1em;
  }


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';